
h1 {
    text-align:center;
    font-family: 'Cursive';
    font-size: 3rem;
    font-weight: underline;
}

body {
    background: linear-gradient(180deg, #FFEEEE, #efbbca);
    height: 100vh;
    width: 1000vh;
}

